# NLP Home Assigment

In this assignment you'll be working with The Beatles lyrics. It can be found on github: https://github.com/tylerlewiscook/beatles-lyrics/tree/master/lyrics

We provided a code to download it from the github repository and load into a pandas dataframe.

## Assigments
### Document search and ranking
Find 3 most relevant songs for all three terms 'all' 'is' 'love' simultaneously. How do you define relevance?
### Topic modeling (unsupervised learning)
Please cluster all The Beatles songs into three clusters, what can you say about this clusters? Can you visualize them?
### NLP tasks
What other supervised and unsupervised algorithms can be applied to this dataset?

## Support

In [1]:
import pandas as pd
import numpy as np
import os

### Load corpus

In [2]:
def read_corpus(root_path):
    "Read corpus of songs into a pandas DataFrame, each line corresponds to a row"
    songs = pd.DataFrame()
    for album in os.walk('{}/lyrics/'.format(root_path)):
        if album[0] == '{}/lyrics/'.format(root_path):
            continue
        for song in album[2]:
            lines = pd.read_table('{}/{}'.format(album[0], song), 
                                  header = None, 
                                  quotechar = None,
                                  quoting = 3,
                                  names = ['Line'])
            lines['Album'] = album[0].split('/')[-1]
            lines['Song'] = song
            lines['LineNum'] = range(1, len(lines) + 1)
            songs = pd.concat([songs, lines])
    return songs

## Solutions

### Read corpus
Reads all Beatles songs from Github into pandas dataframe

In [3]:
!pip install pygit2

Collecting pygit2
  Downloading https://files.pythonhosted.org/packages/f6/4d/353177e55dca0e58b7341c9d3a1c4f753346115f0e113e2ca3a1c6d580ae/pygit2-1.3.0-cp37-cp37m-macosx_10_9_x86_64.whl (813kB)
     |████████████████████████████████| 819kB 725kB/s eta 0:00:01
Collecting cached-property (from pygit2)
  Downloading https://files.pythonhosted.org/packages/48/19/f2090f7dad41e225c7f2326e4cfe6fff49e57dedb5b53636c9551f86b069/cached_property-1.5.2-py2.py3-none-any.whl
Requirement already satisfied: cffi>=1.4.0 in /Users/nazariinyzhnyk/anaconda3/lib/python3.7/site-packages (from pygit2) (1.12.3)
Requirement already satisfied: pycparser in /Users/nazariinyzhnyk/anaconda3/lib/python3.7/site-packages (from cffi>=1.4.0->pygit2) (2.19)
Installing collected packages: cached-property, pygit2
Successfully installed cached-property-1.5.2 pygit2-1.3.0

In [4]:
# Clone repositoty
import pygit2
pygit2.clone_repository("https://github.com/tylerlewiscook/beatles-lyrics.git", './beatles-lyrics')

pygit2.Repository('/Users/nazariinyzhnyk/projects/nlp-beatles-lyrics-modeling/notebooks/beatles-lyrics/.git/')

In [5]:
corpus = read_corpus('./beatles-lyrics')

In [6]:
corpus.sample(5)

,Line,Album,Song,LineNum
12,Yesterday,Help,Yesterday.txt,13
3,All you gotta do is call,AHardDaysNight,Any_Time_At_All.txt,4
54,Everybody let their hair down,LetItBe,Ive_Got_A_Feeling.txt,55
13,"Deep in the jungle, where the mighty tiger lies",TheBeatles,The_Continuing_Story_Of_Bulgalow_Bill.txt,14
20,A pretty nurse is selling poppies from a tray,MagicalMysteryTour,Penny_Lane.txt,21

In [7]:
corpus

,Line,Album,Song,LineNum
0,"You know, if you break my heart I'll go",AHardDaysNight,Ill_Be_Back.txt,1
1,But I'll be back again,AHardDaysNight,Ill_Be_Back.txt,2
2,'Cause I told you once before goodbye,AHardDaysNight,Ill_Be_Back.txt,3
3,But I came back again,AHardDaysNight,Ill_Be_Back.txt,4
4,I love you so,AHardDaysNight,Ill_Be_Back.txt,5
...,...,...,...,...
16,Why should I feel the way I do?,Help,Its_Only_Love.txt,17
17,It's only love and that is all,Help,Its_Only_Love.txt,18
18,But it's so hard loving you,Help,Its_Only_Love.txt,19
19,"Yes, it's so hard loving you",Help,Its_Only_Love.txt,20
20,Loving you,Help,Its_Only_Love.txt,21